@{
    ViewData["Title"] = "About";
}


    <main>
        <div class="content">
            <h1 >Michael Cerase</h1>
            <p>
                This website is to track the career in Computer Science of Michael John Cerase III,
                it will have projects, job history, and other various pieces of information regarding the ups and downs of my career.
                This website itself is an ASP.NET MVC website utilizing a relational database in MySQL to display projects stored on my local domain.
            </p>
        </div>
        <div class="info">
        <div class="bio">
            <h2>My Links:</h2>
            <ul class="abouts">
                <li>
                    <a href="https://www.linkedin.com/in/michael-cerase" target="_blank">
                        <img class="logos" src="https://1000logos.net/wp-content/uploads/2017/03/LinkedIn-Logo.png" />
                        
                    </a>
                </li>
                <li>
                    <a href="https://www.github.com/shiyos412" target="_blank">
                        <img class="logos" src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" />
                       
                    </a>
                </li>
                <li>
                    <a href="https://www.codewars.com/users/Mjcerase" target="_blank">
                        <img class="logos" src="https://www.codewars.com/assets/logos/logo-glyph-36-red-583450fbf586726c570cfd610c94b8f631abfd89d5c4996b4c821a770ca498f9.png" />
                        
                    </a>
                </li>
            </ul>
            </div>
        <div class="email">
            <h2>Contact me!</h2>
            <ul class="contacts">
                <li>Email: michaelcerase@gmail.com</li>
                <li>Phone: (205)410-4349</li>
                <li>
                    <a href="https://www.pdfhost.net/index.php?Action=DownloadFile&id=a150843347ee9de9600828062a822acb" onclick="return confirm('Are you sure you want to download this file?');" download>
                        <img id="resume" class="logos" style="float:left; margin:0; padding:0;  "  src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/87/PDF_file_icon.svg/1200px-PDF_file_icon.svg.png" alt="W3Schools">

                    </a>
                    My Resume!
                </li>
            </ul>
        </div>
     </div>
    </main>
    <script>
    $(document).ready(function()
        {
        
        });
    </script>