@{
    ViewData["Title"] = "Home Page";
}
<!-- TODO: SIDEBAR, SKILLS, EDUCATION/PROJECTS, PROPER BIO, PHOTO, CONTACT INFO, VIDEOS OF CODE, -->
<main>
    <div class="intro">
        <h1>Who am I?</h1>
        <p>My name is Michael Cerase, I'm a developer who was self taught and turned into a student at TrueCoders
        in Hoover, Alabama. However that doesn't say a lot, so I'll let my projects and skillset speak to that. If you're here
        from one of my applications, give me a ring or shoot me an email, I'd love to hear from you!</p>
        <h1>Where am I going?</h1>
        <p>I am aiming to work in software development, but that doesn't mean I'm picky on where I start! I am trained in full stack
        so I look forward to working the front end client side, or the back end with all the information and logic.</p>
    </div>

    <div class="skills">
        <h3>My Skillset:</h3>
        <ul>
            <li>C# - Visual Studio</li>
            <li>ASP.NET MVC (Hey, like this website!)</li>
            <li>Java - Eclipse</li>
            <li>SQL (Specifically MySQL)</li>
            <li>Front End Tech: HTML, CSS, JS</li>
        </ul>
    </div>

</main>