@{
    ViewData["Title"] = "Projects";
}
@model IEnumerable<Project>

<div class="projects">
    <h1>Projects:</h1>
    <table class="table">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Code</th>
        </tr>

        @foreach (var project in Model)
        {
            <tr>
                <td><a href=/Project/ViewProject/@project.ID>@project.ID</td>
                <td>@project.Name</td>
                <td><img style="margin-left: 0; float: left; width: 40vh; height: 20vh;" src="@project.image" /></td>
            </tr>
        }
    </table>
</div>